/*import "./style.css" -> put in index.js*/

/*
Color-Setting
Rosa#1    #FCE8D9
Rosa#2    #F7D3C0
Orange#1  #FBCC9A
Orange#2  #FAC483
Blue#1    #A9BBD5
Blue#2    #A0B9D7
Green#1   #D2CB6B
Green#2   #BFB854
Black     black
*/

@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

body {
  margin: 0;
  font-family: "Vidaloka", serif;
  font-size: 12px;
  background-image: url("https://raw.githubusercontent.com/t4ms/06Project1-Maexchen/master/02Content/woodtableback.jpg");
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gamebox {
  width: 300px;
  height: 300px;
  margin-top: 10%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beercoaster {
  background-image: url("https://github.com/t4ms/06Project1-Maexchen/blob/master/02Content/beerCoasterNew.png?raw=true");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: center;
}

#beercoasterNumber {
  margin: 28% -20%;
  transform: rotate(-10deg);
  font-size: 9em;
  color: rgba(20, 20, 20, 0.95);
  position: absolute;
  z-index: 1;
}

.frame {
  border: solid 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75%;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 1em;
  line-height: 1.5em;
  background: url(https://raw.githubusercontent.com/t4ms/06Project1-Maexchen/a87282cd09882615c21de2655f9f025aa267ffae/02Content/maexchen.svg)
    no-repeat;
  background-position: 50% 30%;
  background-size: 70%;
  background-color: #fce8d9;
  position: absolute;
  z-index: 2;
}
#lyingFrameText {
  top: 75%;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  height: 100px;
  position: absolute;
  z-index: 5;
}

.frameImgYou {
  width: 300px;
  margin: -45% -50%;
  position: absolute;
  z-index: 4;
}
.frameImgPrev {
  width: 300px;
  margin: -45% -50%;
  position: absolute;
  z-index: 5;
}

#lyingFrameButton {
  top: 90%;
  left: 0;
  position: absolute;
  z-index: 5;
}

button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  width: 300px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: white;
  box-sizing: border-box;
  margin: 0 5%;
  font: 2em Vidaloka;
  border: 2px solid black;
  border-radius: 10px;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

input {
  width: 80px;
  height: 80px;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(193, 192, 184), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  margin: 0 35%;
  cursor: text;
  font: 3em Vidaloka;
  padding: 25% auto 25% auto;
  border: 3px solid black;
  border-radius: 50%;
  border-image: initial;
  transform: rotate(-10deg);
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.line {
  color: white;
  display: flex;
  width: 60%;
  align-items: center;
  text-align: center;
  margin: 5% auto;
}
.line::before,
.line::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid white;
}
.line::before {
  margin-right: 0.25em;
}
.line::after {
  margin-left: 0.25em;
}
